.. {{ vars.package_name }} Classes

{{ vars.package_name }} Classes
======================================================

.. toctree::
   :maxdepth: 2
   :caption: Contents:
   :glob:

   *
   {{ namespace }}/*